* {
	margin: 0;
	padding: 0;
}

body {
	background-color: aquamarine;
}

ul {
	list-style: none;
}

.hide {
	display: none;
}
.userListing, .productListing {
	width: 800px;
	margin: 0 auto;
}

.userListing span, a, img {
	display: block;
}

.userListing img {
	width: 140px;
	border-radius: 50%;
	margin: 0 auto;
}
.userListing li , .productListing li {
	padding: 10px;
	float: left;
	font-size: 18px;
	color: red;
}

.userListing li  {
	float: left;
	text-align: center;
	margin-right: 20px;
}
